*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
nav button{
border: 1px solid hsl(321, 100%, 78%);
border-radius: 10px;
padding: 5px;
background-color: #fff;
color: hsl(321, 100%, 78%);
cursor: grab;
}
button:hover{
    background-color: hsl(321, 100%, 78%);
    color: #fff;
border: 1px solid hsl(321, 100%, 78%);

}
section {
    text-align: center;
}
section h1{
    font-weight: 700;
}
section p{
    padding: 2em 0;
    font-weight: 500;
    /* width: 500px; */
    text-align: center;
    /* margin: 3em 25em; */
}
section button{
    background-color: hsl(322, 100%, 66%);
    border-radius: 20px;
    color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    padding: 1em;
    cursor: grab;
    margin-bottom: 2em;
}
 .community{
    display: grid;
    place-content: center;
} 
.community img{
    width: 50vw;
    height: auto;
}
.stats{
    display: flex;
    justify-content: space-between;
}
.communityFormed img{
    width: 2em;
    height: auto;
    display: block;
}
.communityFormed h2{
    font-size: 10vh;
    font-weight: 900;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
}
.communityFormed span{
    font-size: medium;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.messages img{
    width: 2em;
    height: auto;
   display: block;
}
.messages h2{
    font-size: 10vh;
    font-weight: 900;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
}
.messages span{
    font-size: medium;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.growTogether{
    display: flex;
    justify-content: space-between;
    background-image: url(./images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    /* background-position: cover; */
    background-size: cover;
}
.together img{
    width: 50px;
    height: auto;

}