* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
nav button {
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
  color: hsl(321, 100%, 78%);
  cursor: grab;
}
button:hover {
  background-color: hsl(321, 100%, 78%);
  color: #fff;
  border: 1px solid hsl(321, 100%, 78%);
}
section {
  text-align: center;
}
section h1 {
  font-weight: 700;
  margin: auto 24%;
}
section p {
  padding: 2em 0;
  font-weight: 500;
  font-size: 13px;
 margin: auto 25%;
  text-align: center;
}
section button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  color: #fff;
  border: 1px solid hsl(322, 100%, 66%);
  padding: 1em;
  cursor: grab;
  margin-bottom: 2em;
  box-shadow: 0.2px 0.5px 3px 3px rgb(197, 194, 194);
}
.community {
  display: grid;
  place-content: center;
}
.community img {
  width: 50vw;
  height: auto;
}
.stats {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 450px) {
  .stats {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  section h1 {
    margin: auto 11%;

  }
  section p{
    margin: auto 9%;
  }
  .growTogether{
    display: flex;
    flex-direction: column-reverse;
  }
  .flowingConversation{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .YourUsers{
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
  }
}
.communityFormed img {
  width: 4vh;
  height: auto;
  display: initial;
}
.communityFormed h2 {
  font-size: 7vh;
  font-weight: 900;
  padding: 0 0;
  font-family: "Poppins", sans-serif;
}
.communityFormed div:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #525050;
}
.messages img {
  width: 4vh;
  height: auto;
  display: initial;
}
.messages h2 {
  font-size: 7vh;
  font-weight: 800;
  padding: 0 0;
  font-family: "Poppins", sans-serif;
}
.messages div:nth-child(3) {
  font-size: 12px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: #525050;
}

.growTogether {
    padding-top: 5em;
  display: flex;
  justify-content: space-around;
  background-image: url(./images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.grow {
    text-align: center;
/* width: 50px;  */
/* padding-left: 12em; */

}
.together img {
  width: 50%;
  height: auto;
}
.flowingConversation{
    padding-top: 5em;
    display: flex;
    justify-content: space-around;
    /* background-image: url(./images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.flowingConversation div img:nth-child(1){
    width: 50%;
    height: auto;
}

.flowingConversation div:nth-child(2){
    text-align: center;
}
 .YourUsers{
    display: flex;
} 
.YourUsers div:nth-child(1){
    text-align: center;
}

.YourUsers div img:nth-child(1){
    width: 50%;
    height: auto;
}
.ready{
    padding-top: 2em;
    text-align: center;
}
.ready h2{
    padding-bottom: 2em;
}
footer{
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}